body {
    background-color: #f6f6f6;
    font-family: "Poppins" ,sans-serif;
}

.container {
    margin: 0 auto;
    text-align: center;
    max-width: 600px;
    padding-top: 100px;
}

h1 {
    font-size: 120px;
    margin-bottom: 0;
    color: #555;
}

.subheading {
    font-size: 30px;
    color: #777;
    margin-top: 0;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}