<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
    <link rel="stylesheet" href="/assets/css/404.css">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap" rel="stylesheet">

</head>
<body>
    <div class="container">
      <h1>404</h1>
      <p class="subheading">Página não encontrada.</p>
      <p>Desculpe, a página que você está procurando não existe. Verifique se o URL está correto ou volte para a <a href="/">página inicial</a>.</p>
    </div>
  </body>
</html>