<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Agenda</title>
	<link rel="stylesheet" href="/assets/css/style.css">
	<!-- Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap" rel="stylesheet">
</head>

<body>

	<header class="header">
		<div class="title">agenda</div>
		<nav class="navigation">
		  <a href="#">Inicio</a>
		  <a href="#">Sobre</a>
		  <a href="#">Contato</a>
		</nav>
	  </header>

	<main>
		<h1>Sua agenda</h1>
		
		<div class="grid-container">
			<div class="grid-item grid-item-header">Nome</div>
			<div class="grid-item grid-item-header">Sobrenome</div>
			<div class="grid-item grid-item-header">Número</div>
			<div class="grid-item grid-item-header">Email</div>
			<div class="grid-item">João</div>
			<div class="grid-item">Silva</div>
			<div class="grid-item">123456789</div>
			<div class="grid-item">joao.silva@gmail.com</div>
			<div class="grid-item">Maria</div>
			<div class="grid-item">Santos</div>
			<div class="grid-item">987654321</div>
			<div class="grid-item">maria.santos@hotmail.com</div>
		</div>
	</main>
</body>

</html>